
.main-li{
color:white;
display:inline-block;
margin-top:55px;
margin-left:200px;
font-family:Consolas;
}
header{
width:100%;
height:110px;
background:orange;
}

nav{
width:350px;
height:100%;
background:#e1e6ed;
font-family:Sylfaen;
font-size:120%;
float:left;
}
.lft{
margin-left:50px;
font-size:20px;
padding-right:10px;
padding-left:10px;
}
.gry{
color:#c3dbb8;
font-size:15px;
top:200px;
}
a{
color:#ffca45;

}
button{
color:#ffca45;
border:0.5px solid #e1e6ed;
background:white;
font-size:15px;
margin-left:1200px;
}
footer{
top:100%;

}